@page
@model Hoanta_Roxana_Proiectgym.Pages.Abonamente.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Abonament</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Abonament.ID" />
            <div class="form-group">
                <label asp-for="Abonament.Tip" class="control-label"></label>
                <input asp-for="Abonament.Tip" class="form-control" />
                <span asp-validation-for="Abonament.Tip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abonament.Pret" class="control-label"></label>
                <input asp-for="Abonament.Pret" class="form-control" />
                <span asp-validation-for="Abonament.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abonament.DataCreareAbonament" class="control-label"></label>
                <input asp-for="Abonament.DataCreareAbonament" class="form-control" />
                <span asp-validation-for="Abonament.DataCreareAbonament" class="textdanger"></span>
            </div>
            <label asp-for="Abonament.AntrenorID" class="control-label">Nume Antrenor</label>
            <select asp-for="Abonament.AntrenorID" class="form-control" asp-items="ViewBag.AntrenorID">
            </select>
            <span asp-validation-for="Abonament.AntrenorID" class="text-danger"></span>
            <label asp-for="Abonament.CursID" class="control-label">Nume Curs</label>
            <select asp-for="Abonament.CursID" class="form-control" asp-items="ViewBag.CursID">
            </select>
            <span asp-validation-for="Abonament.CursID" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
